.navbar{
    padding: 4px;
    border-bottom: 1px solid silver;
}
.cadastro-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-all;
    margin: 0 auto;
    /* display: none; */
    max-width: 60%;
    width: 100%;
    justify-content: center;
}
.btns_cadastro{
    display: flex;
    margin: 0;
    flex-direction: row;   
    justify-content: space-around;
}
.btns_cadastro button{
    margin: 0px;
}

.cadastro-main input{
    max-width: 100%;
    width: 100%;
}
.cadastro-main select{
    max-width: 100%;
    width: 100%;
}
.container-md{
    margin: 0px;
    padding: 0px;
}