/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #edf5f5;
    background-image: url("https://www.youtube.com/watch?v=QmwIjn6rwQA");
    /* Garanta que o corpo ocupe a tela inteira */
    height: 100%;
    margin: 0;
    overflow: hidden; /* Para evitar barras de rolagem */
}

html {
    height: 100%;
}

/* Classe para ocultar elementos */
.ocultar {
    display: none;
}

/* Estilos da tela de cadastro */
.container-main {
    display: none;
    flex-direction: column;
    flex: none;
  
    width: 100%; /* Preencher a largura da tela */
    height: 100%; /* Preencher a altura da tela */
  
    background-color: #1e457c;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Estilos para botões e outros elementos */
.botoes {
    margin: 0 auto;
}

.btn_estilo_topo {
    user-select: none;
    background-color: #53b4db;
    max-width: 100%;
    width: 20%;
    margin: 5px auto;
    border: 2px solid black;
    padding: 1.3%;
    border-radius: 3%;
    color: white;
    transition: 1s;
}

.btn_estilo_topo:hover {
    background-color: #3390b5;
}
