/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #edf5f5;
    background-image: url("https://i.pinimg.com/originals/09/09/50/090950ba13bd9145e43c5d794d2a0675.gif");
    /* Garanta que o corpo ocupe a tela inteira */
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

/* Classe para ocultar elementos */
.ocultar {
    display: none;
}