.navbar{
    padding: 0px;
    border-bottom: 1px solid silver;
}
.navbar-nav button:hover{
    color: white;
    border-bottom: 1px solid silver;
}
.ca{
    justify-content: space-between;
}
.container-fluid button{
    margin: 0 auto;
    justify-content: center;
}

.cadastro-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-all;
    margin: 0 auto;
    /* display: none; */
    max-width: 60%;
    height: 15%;
    width: 100%;
    justify-content: center;
}
.btns_cadastro{
    display: flex;
    margin: 0;
    flex-direction: row;
}
.btns_cadastro button{
    margin: 0px;
    margin-left: 0%;
}

.cadastro-main input{
    max-width: 100%;
    width: 100%;
}
.cadastro-main select{
    max-width: 100%;
    width: 100%;
}
.container-md{
    margin: 0px;
    padding: 0px;
}
.ocultar{
    display: none;
}