body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    /* overflow-y: hidden; */
}

.container {
    text-align: center;
    margin-top: 50px; /* Ajuste a margem conforme necessário */
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
}

.content {
    display: none;
    animation: fadeInOut 0.5s ease-in-out;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    margin: 35px auto;
}
@keyframes fadeInOut {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    background-color: #007bff; /* Cor da barra de navegação */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 8px; /* Ajuste a altura*/
}

[data-bs-theme="light"] .navbar {
    background-color: #007bff;
    color: #fff;
}

[data-bs-theme="dark"] .navbar {
    background-color: #585f67;
    color: #fff;
}

.collapse {
    margin-left: 2%;
}

.navbar-brand span {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.nav-link {
    font-size: 1.2em;
    color: #fff;
    user-select: none;
}

.nav-link:hover {
    background-color: #0056b3; /* Cor ao passar o mouse sobre os botões */
}
.custom-file-input{
    margin-left: 2px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Garante que a div de carregamento esteja acima de tudo */
}

.disabled {
    user-select: none;
}

.form-label {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    color: gray;
    font-size: 14px;
}

/* Adicione este estilo para limitar a altura e adicionar um scrollbar */
#busca_saida {
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona um scrollbar vertical quando necessário */
}

/* Estilo para o alerta! */
#custom-confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

@media (max-width: 768px) {
    body{
        overflow-y: visible;
    }
    .navbar {
        display: block; /* Exibe a barra de navegação em telas menores */
    }
}

.oculto{
    display: none;
}